# Ignore node_modules
node_modules/

# Ignore log files
logs/
*.log

# Ignore environment variables and sensitive data
.env
config/
secrets.js

# Ignore snapshot text files
snapshot_tools/*.txt

# Ignore image files (under client/assets/images)
client/assets/images/*.jpg
client/assets/images/*.png

# Ignore any temporary or OS files
.DS_Store
Thumbs.db

# Ignore compiled or built directories (if any)
dist/
build/

# Ignore snapshots
snapshot_tools/*.txt